.container {
    width: 95vh;
    max-width: 1000px;
    margin-left: 20px;
    margin-right: 20px;
}

#main_container {
    border-color: #007bff;
    border-style: dashed;
}

#select_viz {
    max-width: 25vh;
}